p{
	color:black;
}
.read{
	background-color: rgba(0,0,0,.5);
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}
.read p,h1{
	color:white;
}
.btn-spn{
	font-size: 20px;
}
.nav_bar_bg{
	position:fixed;
	width:150px;
	height:600px;
	background-image: url("../images/navbar3.png");
}
.nav_bar{
	position: fixed;
	width:100px;
	height:400px;
	margin-top: 7%;
}
.nav_button{
	color:black;
	transition: color .2s linear;
	margin: 40px;
	font-size: 40px;
}
.nav_button:hover{
	color:red;
	animation: changeColor;
}
.display{
	margin: 0 35%;
	width: 600px;
}
