.card-background{
	position: relative;
	background-color:#F7CE91;
	background-image: url('../images/card.png');
	background-size: cover;
	height: 350px;
	margin: 10px;
}
.card-container{
	position: absolute;
	margin-top: 4.25%;
	margin-left: 7.5%;
	width: 500px;
	height: 300px;
/*	border: 1px solid black;
*/
}
.answer{
	margin-top: 20%;
	color: black;
}
p.word{
	margin-top:40px;
	font-weight: bold;
	font-size: 20px;
}
