p{
	color:black;
}
.read{
	background-color: rgba(0,0,0,.5);
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}
.read p,h1{
	color:white;
}
.btn-spn{
	font-size: 10px;
}
.nav_bar_bg{
	position:fixed;
	width:150px;
	height:600px;
	background-color: red;
	background-image: url("https://thumb1.shutterstock.com/display_pic_with_logo/4192141/732393130/stock-vector-grilled-meat-and-vegetables-vertical-banner-collection-grill-bar-design-vector-illustration-732393130.jpg");
}
.nav_bar{
	position: fixed;
	width:100px;
	height:500px;
	margin-top: 2.75%;
	background-color: #ff4;
}
.nav_button{
	color:black;
	transition: color .2s linear;
	margin: 40px;
	font-size: 30px;
}
.nav_button:hover{
	color:red;
	animation: changeColor;
}
.display{
	margin: 0 35%;
	width: 600px;
}
