form{
	margin:0px;
}
p.solved{
	color:#fff;
}
.correct-num{
	color:#fff;
}
.word{
	color: #fff;
	margin: 10px;
}
.show-known{
	margin-top:40px;
}
.statbox p{
	color:red;
}
.statbox{
	background-color: grey;
	height: 400px;
}