body{
  color: #fff;
}
header{
  font-size: 45px;
  text-align: left;
  font-weight: bold;
  height: 160px;
  background-color: rgba(75,52,14,.7);
}
header p{
  display: inline;
}
h1{
  margin-top:0px;
  padding-top: 20px;
}
img{
  width: 100px;
  height:100px;
  display: inline;
}
.logo{
  margin-left: 30px;
  width: 300px;
  height: 150px;
}
.github{
  margin-left: 30px;
  width:50px;
  height: 50px;
}
.hed{
  color:#fff;
  font-size: 25px;
  text-align: right;
  margin-left: 45%;

}
.bottom{
  height: 900px;
}
.App {
  height: 100%;
  text-align: center;
  background-attachment: fixed;
  background-image: url('./images/pattern2.png');
  background-size: cover;
}
