header{
  font-size: 45px;
  text-align: left;
  font-weight: bold;
  height: 200px;
  background-color: grey;
}
header p{
  display: inline;
}
img{
  width: 100px;
  height:100px;
  display: inline;
}
.App {
  text-align: center;
  background-color: red;
  background-size: cover;
}
